@model CourtCaseManagementSystem.Core.Entities.Hearing

<h2>Update Hearing</h2>

<form method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label>Case</label>
        <input class="form-control"
               value="@Model.Case?.CaseNumber - @Model.Case?.Title"
               disabled />
    </div>

    <div class="form-group mt-3">
        <label>Hearing Date</label>
        <input class="form-control"
               value="@Model.HearingDate.ToShortDateString()"
               disabled />
    </div>

    <div class="form-group mt-3">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option>Scheduled</option>
            <option>Completed</option>
            <option>Adjourned</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label>Remarks</label>
        <textarea asp-for="Remarks" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary mt-4">
        Update Hearing
    </button>

</form>