<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <span class="nav-link text-gray-600 small">
                @Context.Session.GetString("UserRole")
            </span>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>

    </ul>

</nav>