# Build folders
bin/
obj/

# Rider / IntelliJ
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Mac
.DS_Store

# ASP.NET Core
appsettings.Development.json

# Node (future safe)
node_modules/

# VS Code
.vscode/
